@model BusinessLayer.ForgotPassword

<!DOCTYPE html>
@{
    Layout = null;
}
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PUGAL.IN | Forgot password</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <img src="~/img/logo.png" />

            </div>
            <h3>Welcome to PUHAL.IN</h3>
            <p>
                Holistic administration for all Religions and NGOs.
            </p>
            <p>Forgot password</p>
            <p><div class="has-error require">@Html.ValidationSummary(true)</div></p>
            @using (Html.BeginForm("ForgotPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group has-error error">
                   @ViewBag.result
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @maxlength = "20", @placeholder = "Enter your email", @required = "" })
                </div>
                
                <button type="submit" class="btn btn-primary block full-width m-b">Send</button>

                <a href="/Login"><small>Login</small></a><br />
                <a href="/register.html"><small>Create an account</small></a>


            }
            <p class="m-t"> <small>www.pugal.in &copy; 2015</small> </p>
        </div>
    </div>

</body>

</html>
